#include <stdio.h>                                  //* PRSONAL FINANCE MANAGEMENT TOOL //
char category[40];
// Function to add income
float addIncome(float income)
{
    float amount;

    printf("Enter income amount: ");
    scanf("%f", &amount);
    return income + amount;
}

// Function to add expense
float addExpense(float balance)
{
    float amount;

    printf("Enter expense amount: ");
    scanf("%f", &amount);
    return balance - amount;
}

// Function to display balance
int displayBalance(float balance)
{
    printf("Current balance: $%.2f\n", balance);
}

int main()
{
    float balance = 0;
    int choice;

    while (1)
    {
        printf("\nUniversity Finance Management Tool\n");
        printf("1. Add Income\n");
        printf("======================\n");
        printf("2. Add Expense\n");
        printf("======================\n");
        printf("3. Display Balance\n");
        printf("======================\n");
        printf("4. Quit\n");
        printf("======================\n");

        printf("Enter your choice: ");
        scanf("%d", &choice);

        switch (choice)
        {
        case 1:
            balance = addIncome(balance);
            break;
        case 2:
            balance = addExpense(balance);
            break;
        case 3:
            printf("Enter expense category: ");
            scanf("%s", category);
            printf(" is %s  ", category);

            displayBalance(balance);

            break;
        case 4:
            printf("Exiting...\n");
            return 0;
        default:
            printf("Invalid choice. Please try again.\n");
        }
    }

    return 0;
}
