#include <stdio.h>                            //*  APP OF PRSONAL FINANCE MANAGEMENT TOOL //

float x, c, x3 = 43000, xm = 93000, z, numbof,balance , income, amount, cou3 = 38000, cou8 = 75000;
#define MAX_EXPENSES 100
// Function to add income
float addIncome(float income)
{
    float amount;

    printf("Enter income amount: ");
    scanf("%f", &amount);
    if (amount>0)
    {
         return income + amount;
    }
    
    else
    {
     printf(" it is not allowed");
     return 0; 
    }
    
}

// functions of x series
float x33(float x3) { return amount + x3; }
float xmm(float xm) { return amount + xm; }

float xseries(float x)
{
    float amount;
    int choice3;
    printf("1. x3 is 43k$ \n");
    printf("2. xm is 93k$ \n");

    printf("Enter your choice: ");
    scanf("%i", &choice3);
    switch (choice3)
    {
    case 1:
        x3 = x33(x3);
        z = amount + x3;
        printf("the amount is%f $", z);
        break;
    case 2:
        xm = xmm(xm);
        z = amount + xm;
        printf("the amount is%f $", z);
        break;
    default:
        printf("Invalid choice. Please try again.\n");
        break;
    }
    return z;
}

// functions of coupe series
float coup3(float cou3) { return amount + cou3; }
float coup8(float cou8) { return amount + cou8; }

float coupseries(float c)
{
    float amount;
    int choice3;
    printf("1. coupe3 is 38k$ \n");
    printf("2. coupe8 is 75k$ \n");

    printf("Enter your choice: ");
    scanf("%i", &choice3);
    switch (choice3)
    {
    case 1:
        cou3 = coup3(cou3);
        z = amount + cou3;
        printf("the amount is%f $", z);
        break;
    case 2:
        cou8 = coup8(cou8);
        z = amount + cou8;
        printf("the amount is%f $", z);
        break;
    default:
        printf("Invalid choice. Please try again.\n");
        break;
    }
    return z;
}

// function of income of company
float addincome2(float income)
{

    int choice2;

    printf("1. x series (43k$ - 93k$)\n");
    printf("2. coupe sreies (38k$ - 75k$) \n");

    printf("Enter your choice: ");
    scanf("%d", &choice2);
    switch (choice2)
    {
    case 1:
        x = xseries(x);
        break;
    case 2:
        c = coupseries(c);
        break;

    default:
        printf("Invalid choice. Please try again.\n");
        break;
    }
 amount =  z;
    return income + amount ;

}

void addExpense(float *expenses,  int *numExpenses) {
  
    float amount;
   
    printf("Enter expense amount: ");
    scanf("%f", &amount);
    expenses[*numExpenses] = amount;
    (*numExpenses)++;
}

// Function to calculate total expenses
float calculateTotalExpenses(float *expenses, int numExpenses , float balance) {
    float total = 0;
    for (int i = 0; i < numExpenses; i++) {
        total += expenses[i];
    }
    return total;
}

// Function to calculate savings
float calculateSavings(float income, float *expenses, int numExpenses , float balance) {
    float totalExpenses = calculateTotalExpenses(expenses, numExpenses, balance);
    return income - totalExpenses;
}


// Function to display balance
void displaySummary(float income, float *expenses,  int numExpenses , float balance) {
    printf("\nIncome: $%.2f\n", income);
    printf("Expenses:\n");
    for (int i = 0; i < numExpenses; i++) {
        printf("- %s: $%.2f\n",  expenses[i]);
    }
    printf("Savings: $%.2f\n", calculateSavings(income, expenses, numExpenses , balance));
}
int main (){
    float balance = 0;
    int choice;
    float expenses[MAX_EXPENSES];
      int numExpenses = 0;
     

    printf(" ***** Add number of Income if you have more than 1 ******\n");
    scanf(" %f", &numbof);

    if (numbof > 0)
    {

        while (1)
        {
            printf("\nCompany Finance Management Tool\n");

            printf("======================\n");
            printf("1. Add Income\n");
            printf("======================\n");
            printf("2. Showcase Company Assets\n");
            printf("======================\n");
            printf("3. Expand Company Reserve\n");
            printf("======================\n");
            printf("4. Display Balance\n");
            printf("======================\n");
            printf("5. Other Sources Of Income\n");
            printf("======================\n");
            printf("6. Quit\n");
            printf("======================\n");

            printf("Enter your choice: ");
            scanf("%d", &choice);

            switch (choice)
            {

            case 1:
                balance = addIncome(balance);
                break;
            case 2:
                balance = addincome2(balance);

                break;
            case 3:
              if (numExpenses < MAX_EXPENSES) {
                    addExpense(expenses,  &numExpenses);
                } else {
                    printf("Maximum number of expenses reached.\n");
                }
                break;
            case 4:

               displaySummary(balance, expenses, numExpenses, income);

                break;
            case 5:
                if (numbof > 1 && numbof < numbof + 1)
                {

                    printf("the another income \n");
                }
                break;
            case 6:
                printf("Exiting...\n");
                return 0;

              
            default:
                printf("Invalid choice. Please try again.\n");
                break;
            }
        }
    }

    return 0;
}
